<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <!-- <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"> -->
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1.0, user-scalable=no">
    <title>{{title}}</title>
    
    <script type="text/ng-template" src="views/home/home.html"></script>
	
    <!-- build:css styles/customs.css -->
    <link href="styles/reset.css" rel="stylesheet">
    <link href="styles/login.css" rel="stylesheet">
    <link href="styles/jwsm.css" rel="stylesheet">
    <!-- endbuild -->

</head>
<body onload="init()">
    <div data-ng-view class="wrap" ng-controller="wrapController" style="visibility:hidden;">

		<div id="wrapper" class="home_wrap" ng-controller="homeController">
			<div id="header"  ng-controller="headerController">
				<div class="header">
					<ul class="area1 line">
						<li class="info"><a href="" ng-click="showInfo()"></a></li>
						<li class="home"><a href="#"></a></li>
						<li class="plan"><a href="flightPlan.html"></a></li>
					</ul>
					<ul class="area2">
						<li class="gps">
							<label>GPS</label>
							<span>({{gpsNum}}D)</span>
						</li>
						<li class="{{signalClass}}">
							{{signal}}%
						</li>
						<li class="{{batteryClass}}">
							{{remaining}}%
						</li>
						<li class="time">
							{{play_minute}}{{ 'MINUTE' | translate }} {{play_second}}{{ 'SECOND' | translate }}
						</li>
					</ul>
					<ul class="fr left_line">
						<li class="drone">
							UAV1
						</li>
						<li class="user">
							<a href="" ng-click="showLogoutPop()">UAV1</a>
							<div class="logout_pop">
								<div class="user">
									<span>UAV1</span>{{ 'DEAR' | translate }}
									<a href="" ng-click="exitLogoutPop()"></a>
								</div>
								<a href="" class="btn_logout" ng-click="logout()">{{ 'LOGOUT' | translate }}</a>
								<i></i>
							</div>
						</li>
						<li class="emergency_stop">
							<a href="" ng-click="emergencyStop()">{{ 'SCRAM' | translate }}</a>
						</li>
						<li class="setting">
							<a href="" ng-click="settingClick()"></a>
						</li>
					</ul>
					
				</div>
				<div class="info_area">
					<div class="info_con">
						<ul>
							<li>
								<h3>GPS</h3>
								<p>
									LAT {{lat}}<br/>
									LNG {{lng}}<br/>
									ALT {{alt}} m
								</p>
							</li>
							<li>
								<h3>mA</h3>
								<p>
									{{am | number}}mA
								</p>
							</li>
							<li>
								<h3>{{ 'TOTAL_FLY_TIME' | translate }}</h3>
								<p>
								{{total_hour}}{{ 'HOUR' | translate }} {{total_minute}}{{ 'MINUTE' | translate }} {{total_second}}{{ 'SECOND' | translate }}
								</p>
							</li>
						</ul>
						<a href="" class="arrow" ng-click="hide()"></a>
					</div>
				</div>
			</div>

			<div class="camera_view_main"  id="viewCamera1" ng-controller="cameraViewMainController">
				<img src="images/thumnail/main_bg.png" />
			</div>

			<div class="camera_view camera_view_sub" id="viewCamera2" ng-controller="cameraViewSubController">
				
			</div>

			<div class="camera_view camera_view_map" ng-click="changeView()" id="viewMap" name="videoArea" ng-controller="cameraViewMapController">
				<div id="dmContainer"></div>
				<div id="homeDrone" class="homeDrone"></div>
			</div>

			<div class="direction_ns" ng-controller="directionController">
				<div class="arrow"></div>
			</div>

			<div class="line_area speed" ng-controller="speedController">
				<div class="line_area">
					<canvas width="200" height="300"></canvas>
				</div>
				<div class="txt_box"></div>
			</div>

			<div class="line_area altitude" ng-controller="altitudeController" >
				<div class="line_area">
					<canvas width="200" height="300"></canvas>
				</div>
				<div class="txt_box"></div>
			</div>

			<div class="vertical_speed" ng-controller="verticalSpeedController"  >
				<canvas height="250"></canvas>
			</div>

			<div class="controll speed_altitude" ng-controller="controllSpeedAltitudeController">
				<div class="joystick"></div>
			</div>

			<div class="controll direction" ng-controller="controllDirectionController">
				<div class="joystick"></div>
			</div>

			<div class="ptz_drone" ng-controller="ptzDroneController">
				<a href="javascript:;" class="ptz_btn" ng-click="toggle()">{{ 'PTZ_DRONE' | translate }}<i></i></a>
				<div class="ptz_controller">
					<div class="joystick"></div>
				</div>
				<ul class="btn_area">
					<li>
						<h3>ZOOM</h3>	
						<a href="" class="plus" ng-click="zoomPlus()"></a>
						<a href="" class="minus" ng-click="zoomMinus()"></a>
					</li>
					<li>
						<h3>FOCUS</h3>
						<a href="" class="plus" ng-click="focusPlus()"></a>
						<a href="" class="minus"></a>
						<a href="" class="auto">{{ 'AUTO' | translate }}</a>
					</li>
				</ul>

				<div class="slider_area pt">{{ 'PT_SPEED' | translate }}<div id="ptSlider" class="slider"></div></div>
				<div class="slider_area zf">{{ 'ZF_SPEED' | translate }}<div id="zfSlider" class="slider"></div></div>
			</div>

			<div class="bank_board" ng-controller="bankBoardController">
				<canvas></canvas>
				<div class="bank_icon"></div>
			</div>

			<div class="gyroscope" ng-controller="gyroscopeController">
				<canvas></canvas>
				<div class="middle"></div>
			</div>

			<div class="bottom_btns" ng-controller="bottomBtnsController">
				<ul>
					<li><a href="" class="enginStart" id="btnEngin">{{ 'ENGINE_START' | translate }}</a></li>
					<li><a href="" class="hovering" id="btnHovering">{{ 'HOVERING' | translate }}</a></li>
					<li><a href="" class="takeoff"  id="btnTakeOff">{{ 'TAKEOFF' | translate }}</a></li>
					<li><a href="" class="home" id="btnHome" ng-click="returnToLaunch();">{{ 'RETURN_TO_HOME' | translate }}</a></li>
					<li><a href="" class="controlReturn" id="btnControlReturn" >{{ 'CONTROL_PASS' | translate }}</a></li>
				</ul>
				<a ng-click="toggle()" class="btn on">{{ 'COMMAND' | translate }}<i class="arrow"></i></a>
			</div>

			<div class="controll_mode" ng-controller="controllModeController">
				<div><a href="" ng-bind="btn" ng-click="modeChange()"></a></div>
			</div>

			<div class="state_area" ng-controller="stateAreaController">
				<div>
					<span>{{text}}</span>
				</div>
			</div>

			<div class="current_state" ng-controller="currentStateController">
				<div>{{text}}</div>
			</div>

		</div>
    </div>
    <!-- <script src="cordova.js"></script> -->
   
   <!-- build:js scripts/jquery.js -->
    <script src="kind/base_components/jquery/jquery.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/angular.js -->
    <script src="kind/base_components/angular/angular.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/base_components.js -->
    <script src="kind/base_components/jquery-ui/jquery-ui.js"></script>
    <script src="kind/base_components/jquery-ui-rotatable/jquery.ui.rotatable.js"></script>
    <!-- <script src="kind/base_components/angular-route/angular-route.js"></script> -->
     <script src="kind/base_components/angular-translate/angular-translate.min.js"></script>
    <script src="kind/base_components/jquery.rotate-master/jquery.rotate.js"></script>
    <script src="kind/rich_components/kindRotatable/kindRotatable.js"></script>
    <script src="kind/rich_components/kindDraggable/kindDraggable.js"></script>
    <script src="kind/rich_components/kindSideMenu/kindSideMenu.js"></script>
    <script src="kind/base_components/jquery-ui/resizable-rotation.patch.js"></script>
    <script src="kind/base_components/jquery-ui-touch/jquery.ui.touch-punch.js"></script>
   
    <script src="kind/base_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <!-- endbuild -->

    
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <!-- build:js scripts/bases.js -->
    <script src="scripts/kind.js"></script>
    <script src="scripts/config/config.js"></script>
    <script src="scripts/config/util.js"></script>
    <script src="scripts/filters/commonFilter.js"></script>
    <!-- endbuild -->
       
    <!-- build:js scripts/kind_components.js -->
     <script src="kind/rich_components/googleMapMarkerLabel/markerLabel.js"></script>
     <script src="kind/rich_components/rest_client/rest_client.js"></script>
     <script src="kind/rich_components/rest_client/rest_client.config.js"></script>
	<script src="kind/rich_components/util/util.js"></script>
	<script src="kind/rich_components/modal/modalService.js"></script>
	<script src="kind/rich_components/multi_language/multi_language.js"></script>
     <script src="kind/rich_components/multi_language/multi_language.config.js"></script>
    <!-- endbuild -->
	
	<!-- build:js scripts/config.js -->
	<script src="scripts/config/broadcastApi.js"></script>
	<!-- endbuild -->
	
	<!-- build:js scripts/service.js -->
	<script src="scripts/services/socketManagerService.js"></script>
	<script src="scripts/services/dashboardService.js"></script>
	<script src="scripts/services/droneControllService.js"></script>
	<script src="scripts/services/viewSwapService.js"></script>
	<script src="scripts/services/mapService.js"></script>
	<script src="scripts/services/gyroscopeService.js"></script>
	<script src="scripts/services/mapManager.js"></script>
	<script src="scripts/services/DroneInMap.js"></script>
	<script src="scripts/services/TemplateService.js"></script>
	<script src="scripts/services/joystickService.js"></script>
	<script src="scripts/services/bankBoardService.js"></script>
	<script src="scripts/services/verticalSpeedService.js"></script>
	<script src="scripts/services/controllerDataPool.js"></script>
	<script src="scripts/services/droneModel.js"></script>
	<script src="scripts/services/sendDataService.js"></script>
	<script src="scripts/services/SendProtocol.js"></script>
	<script src="scripts/services/popupManager.js"></script>
	<script src="scripts/services/toastService.js"></script>
	<!-- endbuild -->
	
	<!-- build:js scripts/controller.js -->
	<script src="scripts/controllers/common/alertPopController.js"></script>
	<script src="scripts/controllers/common/confirmPopController.js"></script>
	<script src="scripts/controllers/common/resultPopController.js"></script>
	<script src="scripts/controllers/common/toastPopController.js"></script>
	<script src="scripts/controllers/common/headerController.js"></script>
	<script src="scripts/controllers/setting/settingController.js"></script>
	<script src="scripts/controllers/login/loginController.js"></script>
	<script src="scripts/controllers/home/wrapController.js"></script>
	<script src="scripts/controllers/home/homeController.js"></script>
	<script src="scripts/controllers/home/altitudeController.js"></script>
	<script src="scripts/controllers/home/cameraViewMainController.js"></script>
	<script src="scripts/controllers/home/cameraViewMapController.js"></script>
	<script src="scripts/controllers/home/cameraViewSubController.js"></script>
	<script src="scripts/controllers/home/contollDirectionController.js"></script>
	<script src="scripts/controllers/home/controllSpeedAltitudeController.js"></script>
	<script src="scripts/controllers/home/dataBoardController.js"></script>
	<script src="scripts/controllers/home/speedController.js"></script>
	<script src="scripts/controllers/home/bottomBtnsController.js"></script>
	<script src="scripts/controllers/home/sideBtnController.js"></script>
	<script src="scripts/controllers/home/gyroscopeController.js"></script>
	<script src="scripts/controllers/home/ptzDroneController.js"></script>
	<script src="scripts/controllers/home/bankBoardController.js"></script>
	<script src="scripts/controllers/home/verticalSpeedController.js"></script>
	<script src="scripts/controllers/home/debuggerController.js"></script>
	<script src="scripts/controllers/home/tiltController.js"></script>
	<script src="scripts/controllers/home/directionController.js"></script>
	<script src="scripts/controllers/home/controllModeController.js"></script>
	<script src="scripts/controllers/home/stateAreaController.js"></script>
	<script src="scripts/controllers/home/currentStateController.js"></script>
	<!-- endbuild -->
	

	<!-- build:js scripts/init.js -->
	<script src="scripts/init/init.js"></script>
	<!-- endbuild -->
</body>
</html>
