@charset "UTF-8";

*{-webkit-text-size-adjust:none}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display:block;}
html, body, div, span, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, abbr, address, cite, code, del, dfn, 
em, img, ins, kbd, q, samp, small, strong, 
sub, sup, var, b, i, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td, article, 
aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, 
summary, time, mark, audio, videot {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font-family:'Malgun Gothic',Dotum ,sans-serif;
    font-weight:normal
}
body{
    -webkit-user-select:none;
    -webkit-touch-callout:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    line-height:1; 
    font-size:16px;
	background-color:#ddd;
	overflow: hidden;
}
ul, ol, li {list-style:none;}
fieldset, img {border:0;}
br {letter-spacing:normal;}
p {letter-spacing:normal;}
hr {display:none;}
address, caption, em, var {
    font-style:normal;
    font-weight:normal;
}
a {text-decoration:none}
a[href^="tel"] {font-style:normal}
a:hover, 
a:active, 
a:focus {text-decoration:none;}
input, 
textarea, 
select {letter-spacing:normal}
img {
    border:0;
    vertical-align:top
}
legend, caption {
    position:absolute; 
    left:-1000%;
    top:0; 
    width:1px; 
    height:1px; 
    font-size:0; 
    line-height:0; 
    overflow:hidden;  
}
table {
    width:100%; 
    border:0; 
    border-spacing:0; 
    border-collapse:collapse;
}
input {vertical-align:middle}
input[type="text"], 
input[type="password"] {-webkit-appearance:none}
input[type="checkbox"] {
    -webkit-appearance:none;
    -webkit-border-radius:0;
	width: 20px;
	height: 20px;
	border: 1px solid #aaa;
}
input:checked[type="checkbox"] {-webkit-appearance:checkbox}
input[type="radio"] {
    border:none;
    -webkit-appearance:none;
	width: 20px;
	height: 20px;
	border: 1px solid #aaa;
}
input:checked[type="radio"] {-webkit-appearance:checkbox;}
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"] {
    -webkit-appearance:button;
    border-radius:0
}
textarea{-webkit-appearance:none}
select{-webkit-appearance:menulist-text}
html{height:100%;}
.wrap{height:100%;}
body{ height:100%;}
